*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2,p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}
h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9 ,#6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.7) , rgba(255,255,255,0.3));
    border-radius: 20px;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;

}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.7) , rgba(255,255,255,0.3));
    border-radius: 2rem;
}
.user img{
    border-radius: 50%;
}
.links{
    margin: 10px 0; 
}
.link{
    display: flex;
    margin: 1rem 0rem;
    padding: .7rem 5rem;
    align-items: center;
}
.link img{
    width: 25px;
}
.link h2{
    padding: 0rem 1rem;
    font-size: 20px;
}
.pro{
    background: linear-gradient(to right top,#65dfc9 ,#6cdbeb);
    border-radius: 2rem;
    width: 250px;
    height: 145px;
    color: white;
    padding: 1rem;
    margin-bottom: 5px;
}

.pro h2{
    color: white;
    font-weight:600 ;
    font-size: 20px;
}
.pro img{
    margin-top: -10px;
}
/* ------------------games-------------- */
.games{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px;
}
.status{
    margin-bottom: 30px;
}
.status h1{
    font-size: 35px;
}
.status input{
    background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.7) , rgba(255,255,255,0.3));
    border: none;
    width: 50%;
    padding: 5px;
    border-radius: 2rem;
    outline: none;
    color: #658ec6;
    text-align: center;
}
.card{
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    justify-content: space-between;
}
.card img{
    width: 70px;
}
.progress{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 26%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





/* Circle */
.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom , 
    rgba(255, 255, 255, .8) ,
    rgba(255,255,255,.3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    top: 5%;
    right: 15%;
    
}
.circle2{
    bottom: 5%;
    left: 10%;
}